.education-section {
    margin: 0 auto;
    padding: 1rem;
    scroll-margin-top: 90px;
    min-height: 100vh;
}

.education-card{
    display: grid;
    grid-template-columns: repeat(2, 720px);
    gap: 5rem;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: center;
}

.education-title{
    text-align: center;
    font-size: var(--headings);
    margin: 50px;
}

.education-img img{
    border-radius: 20px;
}

.education-heading{
    font-size: var(--sub-headings-primary);
    margin-bottom: 5px;
    font-weight: 700;
}

.education-sub-heading{
    font-size: var(--sub-headings-secondary);
    font-weight: 500;
    margin-bottom: 5px;
}

.education-description{
    font-size: var(--paragraphs);
}